<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

  <ion-badge class="trending-badge" color="primary">Trending albums</ion-badge>

  <ion-item>
    <ion-scroll scrollX>
      <div class="scroll-item">
        <ion-col *ngFor="let album of trendingAlbums; let i = index">
          <div class="card-album card-1" (click)="albumClicked(i)">
            <img [src]="album.cover_medium">
            <ion-label>{{album.title}}</ion-label>
          </div>
        </ion-col>
      </div>
    </ion-scroll>
  </ion-item>

  <ion-badge class="trending-badge" color="primary">Top artists</ion-badge>

  <ion-item>
    <ion-scroll scrollX>
      <div class="scroll-item scroll-artist">
        <ion-col *ngFor="let artist of trendingArtists; let i = index">
          <div class="card-list" (click)="artistClicked(i)">
            <div class="card-artist card-1">
              <img [src]="artist.picture_medium">
            </div>
            <ion-label>{{artist.name}}</ion-label>
          </div>
        </ion-col>
      </div>
    </ion-scroll>
  </ion-item>

</ion-content>
