.info-label {
  margin: 50px auto auto;
  white-space: pre-line;
  text-align: center;
}

.github-link {
  position: relative;
}

.source-code-link {
  text-align: center;
  height: 50px;
}

.source-code-label {
  position: relative;
  text-align: center;
}
