ion-app.ios [padding] .scroll-content {
  padding: 0;
}

.list-md[inset], .list-ios[inset], .list-wp[inset] {
  margin: 0;
}

.card-md, .card-ios, .card-wp {
  margin: 0;
}

.card-md + ion-card, .card-ios + ion-card, .card-wp + ion-card {
  margin-top: 2px;
}

.card-md + .radio-card, .card-ios + .radio-card, .card-wp + .radio-card {
  margin: 0;
}

.card-text {
  position: absolute;
  top: 32px;
  right: 26px;
  color: black;
  background-color: white;
  height: auto;
  width: 180px;
}

.card-text ion-card-header {
  position: relative;
  color: black;
  text-align: right;
  top: 0;
}

.card-text ion-card-content {

  position: relative;
  top: 80px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-text p {
  position: relative;
  text-align: right;
  padding: 16px;
  top: -30px;
}

.card-album .album-cover {
  position: relative;
  border-radius: 50%;
  right: 30%;
  width: auto;
  overflow: hidden;
  z-index: 1;
}

.card-album {
  border-radius: 10% !important;
  margin: 2px 16px;
  width: inherit;
}

.radio-card {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 20px;
}

.radio-card img {
  position: absolute;
  height: inherit;
  width: inherit;
}

.radio-card ion-card-content {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: inherit;
  height: inherit;
  top: 25%;

  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.radio-item {
  display: inline-block;
}

.second-card {
  float: right;
  left: 100px;
  margin-right: 18px !important;
}
