ion-content {
  margin-top: 0;
}

ion-app.md [padding] .scroll-content {
  padding: 0;
}

#back-button {
  padding: 16px;
  zoom: 1.2;
}

.player-cover {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.player-controls {
  position: absolute;
  color: #FFF;
  height: 150px;
  width: 100%;
}

.player-controls ion-icon {
  position: absolute;
  zoom: 4;
  left: 44%;
  top: 0.6em;
}

.duration {
  text-align: right;
}

ion-list {
  margin: 0;
}
